version: "3.8"

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  frame_reader:
    build: .
    container_name: frame_reader
    depends_on:
      - kafka
    command: python src/readframes/collect_read_fram.py

  detection_service:
    build: .
    container_name: detection_service
    depends_on:
      - kafka
    command: python src/DetectionAndViolation/detect_serv.py

  streaming_service:
    build: .
    container_name: streaming_service
    depends_on:
      - kafka
    ports:
      - "5000:5000"
    command: python src/Streaming/stream_serv.py
